
body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background-image: url("../images/full-bloom.png")
}

.about {
    background-color: #061D24;
    background-image: none
}

.next {
    background-image: url("../images/ignasi.png");
}

.description-row, .contact-row{
    margin-top: 14vh;
}

.project-row {
    margin-top: 4vh
}

.footer-copyright {
    background-color: rgb(7, 32, 39)
}


.about-me-summary {
    line-height: 3vh;
    color:white;
    font-size: .25em;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -4vh;
}

.about-me-heading {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 65vh;
    font-size:  2em;
}

.cancel {
    z-index: 2;
}


.nav-extended{
    background-color: rgb(7, 32, 39);
    position:fixed;
    z-index: 3;
    border-bottom: white solid 1px
}

.nav-content{
    background-color: rgb(8, 40, 49);
}

.tabs {
    background-color: rgb(7, 32, 39);
}

.nav-wrapper {
    background-color: #061D24;

}
.page-footer {
    background-color: #061D24;
    margin-top: 8vh;
}

a {
    font-size: 1em
}

.avatar {
    border-radius: 50%;
    width: auto;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabs {
    padding-top:3vh;
}

.bottom{
    display: inline-flex;
    vertical-align: top;
    margin-top:-2.5vh
}

.large-logo {
    margin-left:5vw
}

.portfolio{
    margin-left: 6vw;
}
.contact{
    margin-left: 6vw;
}

img {
    height: 40vh;
}

.container {
    margin: auto;
    width: 90vw;
    min-width: 90vw;
}

.card-title:hover {
    cursor: pointer;
}
.underlined {
    text-decoration: underline;
}

.card-reveal {
    border: 2px #226597 solid;
}

.card {
    color: #226597;
}

.italics {
    font-style: italic
}

.icon-color {
    color: white;
    left:50%
}

.icon-position{
    position: relative;
    float: right;
    padding: 2vh .25vw 2vh 1vw;
    margin-right:none;
    background-color: #546E7A
}

.icon-position:hover{
    cursor: pointer;
}

.menu {
    position: relative;
    margin-top: -5vh;
    margin-bottom: 5vh;
    float: right;
}

.summary {
    background-color: #226597;
    color:white;
    height: auto;
    padding: 0% 5% 0% 5%;
}

.card-reveal {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    background-image: url("../images/full-bloom.png");
    font-size: 1.3em;
    border: 1px white solid
}

.reveal-icon {
    padding-top:2%
}

.card-content {
    padding: 0% 5% 0% 5%
}

h5, li, p {
    text-align:center
}

#icon_comment {
    border: 1px lightgray solid;
    height: 20vh
}

.btn {
    width: 40%;
    margin-left: 30% /**Added This**/
}

.text-center {
    text-align:center
}

.white-text {
    color: white;
}

@media only screen and (max-width: 992px) {
    .avatar {
        top: 48%;
    }
        
    .about-me-heading {
        margin-top: 69vh;
    }

    .about-me-summary {
        margin-top: 0vh
    }
  }

@media only screen and (max-width: 600px) {
    .avatar {
        top: 45%;
    }
  }